services:
  front:
    image: chatting-next:1.0
    build:
      context: front
      dockerfile: Dockerfile.dev
    ports:
      - 3000:3000
    env_file:
      - .env.dev
    depends_on:
      back:
        condition: service_started

  back:
    image: chatting-spring:1.0
    build:
      context: back
      dockerfile: Dockerfile.dev
    ports:
      - 8080:8080
    env_file:
      - .env.dev
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.0
    env_file:
      - .env.dev
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 5s
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 200M
        reservations:
          memory: 100M
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --performance-schema=OFF
      - --innodb-buffer-pool-size=128M