node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.next/
out/
build/
dist/

/build

.DS_Store
*.pem

.idea/
.vscode/
*.swp
*.swo
*~

Dockerfile*
docker-compose*.yml
.dockerignore
.gitignore